html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
 
/* footer */
body{
  position: relative;
}
main{
  margin-bottom: 220px;
}
.footer-bs{
  position: absolute;
  width: 100%;
  min-height: 320px;
  bottom: 40px;
  left: 0;
}